/* Fix appearance of search inputs in Safari */
input[type="search"] { -webkit-appearance: textfield; }

/* Fix button layout */
button { width: auto; }

/* Basic color and font definitions */
html, body {
	color: #000;
	background: #FFF;
	background-image: -webkit-linear-gradient(center bottom,#F9F9F9 0,#F9F9F9 25px,#FFF 60px);
	background-image: -moz-linear-gradient(center bottom,#F9F9F9 0,#F9F9F9 25px,#FFF 60px);
	height: 100%;
	font-size: 12px;
	line-height: 15px;
	-webkit-font-smoothing: antialiased;
}
h1, h2 {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "URW Palladio L", "Book Antiqua", Constantia, serif;
	text-rendering: optimizeLegibility;
}
.mono {
	font-family: 'Droid Sans Mono', 'DejaVu Sans Mono', Consolas, monospace;
}
.hide {
	display: none;
}
.normalweight {
	font-weight: normal !important;
}
.transparent {
	color: transparent;
}
* html .transparent, *+html .transparent {
	visibility: hidden;
}

/* Links */
a {
	text-decoration: none;
	border-bottom: 1px solid #A1C4D0;
	transition-property: border-bottom-color, color; -webkit-transition-property: border-bottom-color, color; -moz-transition-property: border-bottom-color, color;
	transition-duration: .4s; -webkit-transition-duration: .4s; -moz-transition-duration: .4s;
}
a:link { color: #29404C; -webkit-tap-highlight-color: #FF5E99; }
a:visited { color: #4C2940; }
a:hover { border-bottom-color: #29404C; }
a:active { color: #404C29; }
a.external {
	padding-right: 13px;
	background: transparent url(../../images/external_link.png) no-repeat center right;
}

/* Size specific hiding */
.normal_hide { display: none; }
.small_hide { display: block; }
@media screen and (max-width: 480px) {
	.normal_hide { display: block; }
	.small_hide { display: none; }
}

/* Content wrapper */
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Loading animation */
#loading {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	z-index: 100;
	width: 100%;
	height: 18px;
	background: #FFF url(../../images/loading.gif) no-repeat center center;
}
