.methodDetails, .methodGrid {
	display: none;
}

section.method {
	padding-bottom: 15px;
}
	section.method:last-child { padding-bottom: 0; }

div.line td {
	vertical-align: top;
}

.grid {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	text-rendering: optimizeSpeed;
}
	.grid td {
		vertical-align: top;
	}
td.gridNotation {
	font-size: 10px;
	color: #666;
	text-align: right;
	padding-right: 5px;
}
td.gridTitle {
	font-size: 13px;
	padding-bottom: 3px;
}


@media screen and (max-width: 480px) {
	td.gridNotation {
		font-size: 9px;
	}
	td.gridTitle {
		font-size: 11px;
		padding-bottom: 0;
	}
}
