.tower {
	h3 {
		margin: 0 @contentXPadding 2px;
		// Remove top margin for nearby towers ol
		&+ol {
			margin-top: 0;
		}
	}

	// Hide map and first peal tabs by default
	.staticMap {
		display: none;
		width: 100%;
		padding: 5px 0;
		text-align: center;
	}
	.firstPeals {
		display: none;
	}

}
