{% extends 'BluelineCCCBRDataBundle::base.html.twig' %}

{% block title %}{{ status_text }} | {{ parent() }}{% endblock %}

{% block body %}
	{% from 'BluelineCCCBRDataBundle:Macros:header.html.twig' import header %}
	<section class="text">
		{{ header( status_text ) }}
		<div class="wrap">
			<p>Visit the homepage to find what you're looking for.</p>
		</div>
	</section>
{% endblock %}
