/sql
.directory
error.log
*.sql.gz
resources/tables/methods/methods.sql
resources/tables/towers/towers.sql
resources/tables/methods_towers/methods_towers.sql
*.tmp

app/config/parameters.ini
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/scripts.built
web/css
vendor/*
!vendor/blueline/
