# Web server logs, Composer, caches
.directory
blueline.error.log
blueline.access.log
composer.phar

# Assets managed by Gulp
public/favicon.*
public/css
public/js
public/fonts
public/images

# Managed by NPM
node_modules/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
