{% import 'BluelineCCCBRDataBundle:Macros:content.html.twig' as content %}
<section class="content search">
	<ol class="searchResults">
	{% for method in methods %}
		<li><a href="{{ path( 'Blueline_Methods_view', { 'title': method.title|replace({' ':'_'}) } ) }}">{{ method.title }}</a></li>
	{% else %}
		<li>No results</li>
	{% endfor %}
	</ol>
	{{ content.paging( searchVariables, pageActive, pageCount ) }}
</section>
