#content {
	padding-top: @headerHeight;
}
#content.searchable {
	padding-top: @headerHeight + @searchBoxHeight;
}

section {
	font-size: 13px;
	h1, h2, h3 {
		font-weight: bold;
	}
	header {
		clear: both;
		border-color: @lightGrey;
		border-width: 1px 0;
		border-style: solid;
		background-color: @titleBackground;
		padding: 10px;
		h1 {
			font-size: 25px;
			line-height: 25px;
			margin: 0;
		}
		h2 {
			font-size: 18px;
			line-height: 20px;
			margin: 0 0 0 5px;
		}
		h3 {
			margin: 0;
		}
		#settings {
			margin: 0 0 @contentYPadding;
			padding: 0 @contentXPadding;
			border: 1px solid @lightGrey;
			background-color: #FFF;
			h3 {
				margin: @contentYPadding 0;
			}
			h4 {
				margin: @contentYPadding 0 @contentYPadding/-2;
			}
		}
	}
	h2 {
		font-size: 16px;
		margin: @contentYPadding*1.5 0 0 0;
	}
	h3 {
		font-size: 12px;
		margin: @contentYPadding 0 0 0;
	}
	p {
		margin: @contentYPadding 0;
	}
	h2+p, h3+p {
		margin-top: 4px;
	}
	.wrap {
		margin: @contentYPadding @contentXPadding;
		text-align: justify;
		hyphens: auto;
		max-width: 600px;
	}
	&:first-child {
		header {
			border-top: 0;
		}
	}
	table td, table th {
		vertical-align: top;
		padding: 4px;
		border: 1px solid @lightGrey;
	}
}


blockquote {
	margin: 1em 0 1em 2em;
}

span.code {
	font-family: monospace;
}

// Error messages
.appError {
	color: #666;
}

// Search results and paging
@import 'searchResults.less';
// Lists
@import 'lists.less';
// Tab bars
@import 'tabBar.less';
