#print_form {
	p {
		line-height: 28px;
	}
}

fieldset {
	margin-top: @contentYPadding;
	padding: 0 @contentXPadding;
	border: 1px dashed @lightGrey;
	legend {
		margin: 0;
		padding: 0;
		font-size: 14px;
	}
}

input[type="submit"], input[type="reset"] {
	border-radius: 2px;
	border: 0;
	margin: 0 @contentYPadding 0 0;
	padding: @contentYPadding*0.75 @contentXPadding*0.75;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	transition: background-color 0.5s ease, color 0.5s ease;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	&:disabled {
		background-color: #DDD;
		color: #AAA;
	}
}
input[type="submit"] {
	background-color: @headerBackground;
	color: white;
}
input[type="reset"] {
	background-color: #DDD;
	color: black;
}

.select-wrapper, .input-wrapper {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid @lightGrey;
	border-radius: 1px;
	background-color: #F3F3F3;
	height: 28px;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	input, select {
		border-radius: 1px;
	}
}
span.select-wrapper, span.input-wrapper {
	margin: 0;
}
.input-wrapper input {
	box-sizing: border-box;
}

input[type="text"], input[type="number"], select {
	display: inline-block;
	vertical-align: middle;
	background-color: #F3F3F3;
	width: 100%;
	height: 100%;
	padding: 0 5px;
	line-height: 28px;
	border: 0;
	&:focus {
		outline: 0;
		border: 0;
	}
}
input[type="number"] {
	padding: 0 0 0 5px;
}

input.tiny {
	width: 40px;
}
input.medium {
	width: 220px;
}
input.long {
	width: 320px;
}
input.right {
	text-align: right;
}
input.center {
	text-align: center;
}

// Checkboxes
input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
	margin: 0 @contentXPadding/2;
	line-height: 28px;
}

// Radio Buttons
label.radio_image {
	& > input {
		visibility: hidden;
		position: absolute;
		top: -100px;
		& + img {
			display: inline-block;
			vertical-align: middle;
			margin: 0 @contentXPadding/2;
			cursor: pointer;
			border: 1px solid @lightGrey;
			border-radius: 2px;
			box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
			transition-property: border-color;
			transition-duration: .2s;
		}
		&:checked + img {
			border-color: @headerBackground;
		}
	}
}