/* CSS Reset */
* { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; border: 0; }
fieldset, img { border: 0; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
input,textarea,select { *font-size: 100%; }
button{ width:auto; overflow:visible; }
header, footer, section, svg{ display: block; }

/* Basic color and font definitions */
html, body {
	color: #000;
	background: #FFF;
	height: 100%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 12px;
	line-height: 15px;
	-webkit-font-smoothing: antialiased;
}
h1, h2 {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Constantia, Georgia, serif;
}
.mono { font-family: 'Droid Sans Mono', 'DejaVu Sans Mono', monospace; }

/* Other globals */
abbr { border-bottom: 1px dotted #E0DED9; cursor: help; }
.hide { display: none; }
.fleft { float: left; }
.fright { float: right; }
.tcenter { text-align: center; }
.noborder { border: 0 !important; }
.nomargin { margin: 0 !important; }
.nowrap { white-space: nowrap !important; }
.normalweight { font-weight: normal !important; }
.noliststyle { list-style: none; }
.hyphenate { text-align: justify; }

/* Links */
a {	
	text-decoration: none;
	border-bottom: 1px solid #A1C4D0;
	-webkit-transition-property: border-bottom-color, color;
	-webkit-transition-duration: .4s;
}
	a:link { color: #29404C; -webkit-tap-highlight-color: #FF5E99; }
	a:visited { color: #4C2940; }
	a:hover { border-bottom-color: #29404C; }
	a:active { color: #404C29; outline: none; }
	a:focus { outline: thin dotted; }
	a.external {
		padding-right: 13px;
		background: transparent url(../images/external_link.png) no-repeat center right;
		
	}

/* Wrappers and basic layout */
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
#top {
	display: block;
	width: 100%;
}


/* Header */
#top {
	background: #002147;
	color: #E0DED9;
}
	#top a {
		color: #E0DED9;
		border: 0;
	}
	#top a:hover {
		color: #FFF;
	}
	#top h1, #top h2, #top span.headerSep {
		font-weight: bold;
		text-transform: uppercase;
		font-weight: normal;
		float: left;
	}
	#top h2, #top span.headerSep {
		font-weight: normal;
		text-transform: none;
	}

/* Header search */
form#topSearch {
	display: block;
	float: left;
	background-color: #FFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #E0DED9;
}
	form#topSearch input {
		display: block;
		float: left;
		background-color: #FFF;
		border: 0;
	}
		form#topSearch input:focus { border: 0; outline-width: 0; }
	form#topSearch button {
		float: left;
		background: #FFF url(../images/search.png);
		border: 0;
	}
		form#topSearch button:hover { cursor: pointer; }

/* User login section */
div#topUser {
	float: right;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	-moz-background-size: contain;
}

/* Section header */
section header {
	clear: both;
	border-bottom: 1px solid #E0DED9;
	border-top: 1px solid #E0DED9;
	background-color: #FAFAFA;
}
	section#content section:first-child header { border-top: 0; }
ul.tabBar {
	display: block;
	clear: both;
	list-style: none;
}
	ul.tabBar li {
		float: left;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		border: 1px solid #E0DED9;
		background-color: #F3F3F3;
		border-bottom: 0;
		cursor: pointer;
		-webkit-transition-property: background-color;
		-webkit-transition-duration: .4s;
	}
		ul.tabBar li:hover { background: #FFF; }
		ul.tabBar li.active {
			background-color: #FFF;
			border-bottom: 1px solid #FFF;
			color: #000;
			font-weight: bold;
			cursor: default;
		}


/* Search header (includes search box) */
form#sectionSearch {
	display: block;
	margin: 10px 0 5px 10px;
	width: 350px;
}
	form#sectionSearch div {
		height: 25px;
		background-color: #FFF;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 2px solid #DDD;
	}
	form#sectionSearch input {
		display: block;
		float: left;
		background-color: #FFF;
		border: 0;
		font-size: 13px;
		width: 310px;
		height: 21px;
		padding: 2px 5px;
	}
		form#sectionSearch input:focus { border: 0; outline-width: 0; }
	form#sectionSearch button {
		float: left;
		background: #FFF url(../images/search.png) no-repeat center center;
		border: 0;
		width: 25px;
		height: 25px;
	}
		form#sectionSearch button:hover { cursor: pointer; }
	form#sectionSearch p {
		color: #999;
		font-size: 10px;
		margin: 5px 0 0 7px;
	}

/* Reusabe content blocks */
table.horizontalDetails {}
	table.horizontalDetails th, table.horizontalDetails td {
		vertical-align: top;
	}
	table.horizontalDetails th {
		text-align: right;
		font-weight: normal;
	}

div.paging {
	margin: 10px 0;
}
	div.pagingLinks {
		margin: 0 18px;
		color: #CCC;
	}
	div.pagingLinks a { margin: 0 6px; }
	div.pagingLinks span {
		margin: 0 6px;
		color: #000;
	}

.searchResults {
	margin: 5px;
	padding: 0;
	color: #555;
}
ol.searchResults {
	list-style: none;
}
	ol.searchResults li {
		padding: 2px 0;
		margin: 0;
	}
	table.searchResults th {
		background-color: #FCFCFC;
		border: 1px solid #F0F0F0;
		padding: 2px 4px;
		text-align: left;
		font-weight: bold;
		color: #333;
	}
	table.searchResults td {
		border: 1px solid #F0F0F0;
		padding: 3px 5px;
	}
		table.searchResults td.title { width: 350px; }

/* Specific content blocks */
section.wallOfText {
	width: 100%;
	max-width: 600px;
}

#associationsList {
	list-style: none;
	-webkit-column-count: 2; -webkit-column-gap: 20px; column-count: 2; column-gap: 20px;
}
	@media screen and (min-width: 850px) { #associationsList { -webkit-column-count: 3; column-count: 3; } }
	#associationsList li {
		padding: 2px 0;
	}

.map {
	width: 100%;
	height: 100%;
}
	.map a { border: 0; }
#fullMap {
	position: absolute;
	left: 0;
	width: 100%;
	height: 500px;
}

/* Hidden  by default */
.towerFirstPeals, .methodDetails, .methodGrid, .associationAffiliations { display: none; }


/* Footer */
footer {
	display: block;
	clear: both;
	width: 100%;
	border-top: 1px solid #E0DED9;
}
	footer a {
		border-bottom: 1px solid #A1C4D0;
	}
	footer a:link {
		color: #6BA5C7;
	}
	footer a:visited {
		color: #C76BA5;
	}
	footer a:hover {
		border-bottom-color: #44687D;
	}
	footer p, footer nav {
		clear: none;
		padding: 0 5px;
		color: #C7C2BC;
	}
