<phpunit bootstrap="./bootstrap.php" colors="true">
   <testsuite name="Blueline">
     <directory>./</directory>
   </testsuite>
  <logging>
  	<log type="coverage-html" target="./logs/report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="80" />
  	<log type="testdox-html" target ="./logs/testdox.html" />
  </logging>
</phpunit>
