{% extends 'BluelineCCCBRDataBundle::base.html.twig' %}

{% block title %}Debug | {{ parent() }}{% endblock %}

{% block body %}
	{% from 'BluelineCCCBRDataBundle:Macros:header.html.twig' import header %}
	<section class="text">
		{{ header('Debug Information') }}
		<ul id="debug"></ul>
		<script>
{% autoescape false %}
		//<![CDATA[
			require( { paths: { jquery: '/scripts/lib/jquery' } }, ['jquery', 'helpers/Can'], function( $, Can ) {
				var html = '<li>User Agent: '+navigator.userAgent+'</li>',
					cans = ['canvas', 'history', 'indexedDB', 'localStorage', 'placeholder', 'applicationCache', 'SVG', 'webFont', 'webSQL'];
				for( var i = 0; i < cans.length; ++i ) {
					html += '<li>'+cans[i]+': '+(Can[cans[i]]()?'Yes':'No')+'</li>';
				}
				$( '#debug' ).html( html );
			} );
		//]]>
{% endautoescape %}
		</script>
	</section>
{% endblock %}
