{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}Composition Prover | {{ parent() }}{% endblock %}
{% set search = false %}

{% block body %}
	{% from 'BluelineBundle:Macros:header.html.twig' import header %}
	<section class="text">
		{{ header('Composition Prover') }}
		<div class="wrap">
			<p>This page contains a simple web interface for Richard Smith's <a href="http://www.ex-parrot.com/~richard/gsiril/" class="external">GSiril</a> touch proving program. <a href="{{ path( 'Blueline_Services_siril_why' ) }}">Here</a> are some notes on why and how this has been achieved.</p>
			<p>Enter the composition in the box below in the MicroSiril or GSiril language and click "Prove".</p>
		</div>
		<div class="gsiril">
			<h2>Input</h2>
			<form id="gsiril_form">
				<p><div class="select-wrapper"><select id="gsiril_format"><option>MicroSiril syntax</option><option>GSiril syntax</option></select></div></p>
				<p><textarea id="gsiril_input" spellcheck="false" autocapitalize="none" class="expanding" placeholder="Enter composition in GSiril/MicroSiril syntax"></textarea></p>
				<p><input value="Clear" type="reset" /><input value="Prove" type="submit" /></p>
			<form>
			<h2>Output</h2>
			<div id="gsiril_output">...</div>
		</div>
		{% autoescape false %}
		<script>require(['services/Gsiril'],function(a){a.init();});</script>
		{% endautoescape %}
	</section>
{% endblock %}
