parameters:
# Database connection options
    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_port:     5432
    database_name:     blueline
    database_user:     user
    database_password: pass

# The secret is used by Symfony's security, make it something random
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

# Blueline
    admin_email:       blueline@example.com
    analytics_code:    false
    asset_update:      1392761954
    database_update:   1392761954
