parameters:
# Database connection options
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

# SMTP server options. Blueline doesn't need these
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

# The secret is used by Symfony's security, make it something random
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

# System paths
    java_path:         /usr/bin/java
    node_path:         /usr/bin/node
    node_modules_path: /usr/lib/node_modules

# Blueline
    admin_email:       blueline@example.com
    analytics_code:    false
    asset_update:      1392761954