# These should go into the virtual hosts configuration file to save Apache loading the .htaccess on every request

# Start up mod_rewrite
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
</IfModule>

# Compressions
AddEncoding gzip .gz
<Files "*.css.gz">
	ForceType text/css
	Header set Content-Encoding: gzip
	Header set Cache-Control: "max-age=604800 public"
</Files>
<Files "*.js.gz">
	ForceType text/javascript
	Header set Content-Encoding: gzip
	Header set Cache-Control: "max-age=604800 public"
</Files>
<IfModule mod_rewrite.c>
	RewriteCond %{HTTP:Accept-Encoding} (.*gzip.*)
	RewriteCond %{REQUEST_FILENAME}.gz -f
	RewriteRule ^(.*)$ $1.gz [QSA,L]
</IfModule>

# Caching
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|svg)$">
	Header set Cache-Control: "max-age=604800 public"
</FilesMatch>

# Throw anything else to index.php
<IfModule mod_rewrite.c>
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^.*$ index.php [QSA,L]
</IfModule>
