@import 'all/header.css';
@import 'all/content.css';
@import 'all/forms.css';
@import 'all/welcome.css';
@import 'all/methods.css';

:root {
	--standalone-status-bar-height: 18px;
	--header-height: 35px;
	--search-box-height: 56px;
	--content-x-padding: 14px;
	--content-y-padding: 12px;
	--small-screen-size: 850px;
	--tiny-screen-size: 500px;
	--search-width: 600px;
	--search-width-small-screen: 304px;

	--background: #fff;
	--header-background: #002856;
	--title-background: #f3f3f3;
	--light-grey: #e0ded9;
	--title-background-overlay: rgba(243, 243, 243, 0.95);
	--light-grey-lightened: #ebeae7;

	--sans-stack: -apple-system, "Helvetica Neue", "Roboto", "Segoe UI", "Lucida Grande", sans-serif;
	--serif-stack: Palatino, "Palatino Linotype", "Palatino LT STD", "URW Palladio L", "Book Antiqua", Constantia, serif;
}
@font-face {
	font-family: Blueline;
	font-style: normal;
	font-weight: normal;
	src: local('Droid Sans Mono'), url(../fonts/Blueline.woff2) format('woff2'), url(../fonts/Blueline.woff) format('woff');
}

/* Basic color and font definitions */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
html, body {
	color: #000;
	background: var(--background);
	font-size: 14px;
	line-height: 1.25em;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	min-width: 320px;
	margin: 0;
	font-family: var(--sans-stack);
	font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 0;
}
h1, h2, fieldset legend {
	font-family: var(--serif-stack);
	text-rendering: optimizeLegibility;
}

/* Links */
a {
	text-decoration: underline;
	text-decoration-color: #A1C4D0;
	transition-property: color, text-decoration-color;
	transition-duration: .15s;
  	background-color: transparent;
	&:link { color: #29404C; }
	&:visited { color: #4C2940; }
	&:active { color: #404C29; }
	&:hover { text-decoration-color: #29404C; }
	&.external {
		padding-right: 13px;
		background-image: url(../images/external.svg);
		background-size: auto;
		background-repeat: no-repeat;
		background-position: right center;
	}
}

/* Selection styles */
::selection {
	background: var(--header-background);
    color: #FFF;
}

/* Placeholder text */
::placeholder, .placeholder { color: #999; }

/* Error messages */
.appError { color: #666; }

/* Webkit scrollbars */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track:vertical {
    background: var(--title-background) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAABCAIAAABlidhuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAEklEQVQI12N8cO+msKgUA14AAGMvAtt9ZH3bAAAAAElFTkSuQmCC') top left repeat-y;
    border-top: var(--header-height) solid var(--header-background);
}
::-webkit-scrollbar-track:horizontal {
    background: var(--title-background);
    border-top: 1px solid var(--light-grey);
}
::-webkit-scrollbar-thumb {
    border: 1px solid #b2b2b2;
    background: #c8c8c8;
}
::-webkit-scrollbar-thumb:vertical {
    min-height: 100px;
}
::-webkit-scrollbar-thumb:horizontal {
    min-width: 100px;
}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    border: 1px solid #9c9c9c;
    background: #b2b2b2;
}

/* Abbr */
abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

/* Blockquotes */
blockquote {
	margin: 1em 0 1em 2em;
}

/* Code blocks */
span.code {
	font-family: monospace;
}

/* Utility classes */
.hide { display: none; }
.center { text-align: center; }
.normalweight { font-weight: normal; }

/* Loading and app start overlays */
#loading {
	position: absolute;
	left: 0;
	width: 100%;
	background: transparent url(../images/loading.svg) no-repeat center top;
	background-size: 18px;
	z-index: 50;
	display: none;
	top: 100px;
	height: 48px;
}

/* Settings overlay */
#settings_button {
	float: right;
	height: var(--header-height);
	width: var(--header-height);
	border: 0;
	padding: 0;
	cursor: pointer;
	background: var(--header-background) url(../images/settings.svg) no-repeat center center;
	opacity: 0.6;
	transition-property: opacity;
	transition-duration: .15s;
	&:hover {
		opacity: 1;
	}
}
#settings_dialog {
	box-sizing: border-box;
	position: fixed;
	right: 0;
	top: 0;
	text-align: right;
	width: 100%;
	height: 100%;
	max-width: none;
	max-height: none;
	margin: 0;
	border: 0;
	padding: 0;
	background: transparent;
}
#settings_dialog::backdrop {
	background-color: rgba(255,255,255,0.8);
	backdrop-filter: blur(1px);
}
#settings {
	display: inline-block;
	max-width: 600px;
	margin: calc(var(--header-height) + var(--content-y-padding)) var(--content-x-padding) 0;
	border: 1px solid var(--light-grey);
	padding: var(--content-y-padding) calc(var(--content-x-padding) * 2);
	background: #FFF;
	text-align: left;
}
#settings_submit {
	cursor: pointer;
}
