/* Forms and Form Elements */
fieldset {
	margin-top: var(--content-y-padding);
	padding: 0 var(--content-x-padding);
	border: 1px dashed var(--light-grey);
	legend {
		margin: 0;
		padding: 0;
		font-size: 14px;
	}
}

input[type="submit"] {
	background-color: var(--header-background);
	color: white;
}
input[type="reset"] {
	background-color: #DDD;
	color: black;
}

input[type="submit"], input[type="reset"] {
	border-radius: 2px;
	border: 0;
	margin: 0 var(--content-y-padding) 0 0;
	padding: calc(var(--content-y-padding) * 0.75) calc(var(--content-x-padding) * 0.75);
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	transition: background-color 0.5s ease, color 0.5s ease;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	&:disabled {
		background-color: #DDD;
		color: #AAA;
	}
}

input[type="number"] {
	padding: 0 0 0 5px;
}

input[type="text"], input[type="number"], select {
	display: inline-block;
	vertical-align: middle;
	background-color: #F3F3F3;
	width: 100%;
	height: 100%;
	padding: 0 5px;
	line-height: 28px;
	border: 0;
	&:focus {
		outline: 0;
		border: 0;
	}
}

.select-wrapper, .input-wrapper {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid var(--light-grey);
	border-radius: 1px;
	background-color: #F3F3F3;
	height: 28px;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	input, select {
		border-radius: 1px;
	}
}
span.select-wrapper, span.input-wrapper {
	margin: 0;
}
.input-wrapper input {
	box-sizing: border-box;
}

input.tiny {
	width: 40px;
}
input.medium {
	width: 220px;
}
input.long {
	width: 320px;
}
input.right {
	text-align: right;
}
input.center {
	text-align: center;
}

/* Checkboxes */
input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
	margin: 0 calc(var(--content-x-padding) * 0.5);
	line-height: 28px;
}

/* Radio Buttons */
label.radio_image {
	img {
		width: 79px;
		height: 25px;
	}
	& > input {
		visibility: hidden;
		position: absolute;
		top: -100px;
		& + img {
			display: inline-block;
			vertical-align: middle;
			margin: 0 calc(var(--content-x-padding) * 0.5);
			cursor: pointer;
			border: 1px solid var(--light-grey);
			border-radius: 2px;
			box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
			transition-property: border-color;
			transition-duration: .2s;
		}
		&:checked + img {
			border-color: var(--header-background);
		}
	}
}

@media screen and (max-width: 500px) {
	label.radio_image img {
		width: 53px;
		height: 17px;
	}
}

/* Method Display Components */
#custom_method {
	margin-left: var(--content-x-padding);
	h3 {
		font-size: 14px;
		font-weight: normal;
		color: #002856;
		margin: var(--content-y-padding) 0 calc(var(--content-y-padding) * 0.5);
		text-transform: uppercase;
		text-rendering: optimizeLegibility;
	}
	div.select-wrapper, div.input-wrapper {
		width: 300px;
	}
	#custom_method_notationParsed {
		margin-left: 5px;
	}
}

section.method {
	/* Grids */
	canvas {
		display: block;
		float: left;
		margin: var(--content-y-padding) var(--content-x-padding);
	}

	/* Ensure tab panel wrappers expand to floated canvas height. */
	.line::after,
	.grid::after {
		content: '';
		display: block;
		clear: both;
	}

	/* Default tab shows/hides */
	.details, .grid {
		display: none;
	}
	.line {
		display: block;
	}
}

#lineOverlay_tooltip {
	position: absolute;
	font: 10px var(--sans-stack);
	padding: 5px 8px;
	max-width: 120px;
	display: none;
	background-color: #FFF;
	border: 1px solid var(--header-background);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
	opacity: 0;
	transition: opacity 200ms, top 10ms, left 10ms;
	pointer-events: none;
	&:after, &:before {
		position: absolute;
		right: 100%;
		top: 50%;
		height: 0;
		width: 0;
		border: solid transparent;
		content: " ";
		pointer-events: none;
	}
	&:after {
		border-color: rgba(255,255,255,0);
		border-right-color: #FFF;
		border-width: 5px;
		margin-top: -5px;
	}
	&:before {
		border-color: rgba(0,40,86,0);
		border-right-color: var(--header-background);
		border-width: 6px;
		margin-top: -6px;
	}
}
