/* Hide anything we don't want to print at all */
#top, #search, #settings_dialog, #loading, #back_link, #lineOverlay_tooltip, .tabBar {
	display: none;
}

/* Remove any backgrounds or borders that we don't want */
section header {
	background: none;
	border: 0;
}
