section.method {
	h3 {
		margin: 0;
		padding: (@contentYPadding - 2) @contentXPadding 2px @contentXPadding;
		border-top: 1px solid @lightGrey;
		&+ol {
			margin-top: 0;
			margin-left: 0;
			li {
				padding: 2px 0;
				border-color: lighten(@lightGrey, 6%) !important;
				&.none {
					padding: 4px @contentXPadding 4px (@contentXPadding*2);
				}
				a {
					padding: 4px @contentXPadding 4px (@contentXPadding*2);
				}
				&:first-child {
					padding-top: 0;
				}
				&:last-child {
					padding-bottom: (@contentYPadding - 4);
				}
			}
		}
	}

	// Grids
	canvas {
		display: block;
		float: left;
		margin: @contentYPadding @contentXPadding;
	}

	// Default tab shows/hides
	.details, .line, .grid {
		display: none;
	}
	.numbers {
		display: block;
	}
}

#export {
	fieldset {
		margin: 15px 0;
		border: 1px solid @lightGrey;
		border-radius: 2px;
		box-shadow: 0 4px 5px 1px rgba(50, 50, 50, 0.14);
	}
	.form-section {

	}
	legend {
		padding: 0.2em 0.5em;
		font-size: 16px;
	}
	label.large {
		display: block;
		margin: @contentYPadding 0 5px 0;
		font-size: 12px;
		font-weight: bold;
		&:first-child {
			margin: 0;
		}
	}
	.form-group {
		padding: 0 0 @contentYPadding @contentXPadding;
		label {
			display: inline-block;
			width: 95px;
			line-height: 23px;
			&.internal {
				width: auto !important;
			}
		}
		.form-group label {
			width: 95 - @contentXPadding;
		}
	}
	input.text {
		font-size: 12px;
		height: 15px;
		line-height: 15px;
		border: 2px solid #DDD;
		.border-radius(3px);
		margin: 0 2px;
		padding: 2px 5px;
		&:required:invalid {
			border-color: #F00;
		}
		&.tiny {
			width: 38px;
		}
		&.small {
			width: 70px;
		}
		&.medium {
			width: 120px;
		}
		&.large {
			width: 250px;
		}
	}
	input.check {
		margin: 0 5px;
	}
	select {
		margin: 0 2px;
	}
	.colorPreview {
		display: inline-block;
		.transition-property(background-color;);
		.transition-duration(.15s);
		width: 19px;
		height: 19px;
		margin: 0 0 0 4px;
		line-height: 19px;
		border: 2px solid #DDD;
		.border-radius(3px);
	}
	.capPreview, .dashPreview, .widthPreview, .facePreview {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 4px;
	}
	.facePreview {
		width: 125px;
		height: 19px;
		border: 2px solid #DDD;
		.border-radius(3px);
	}
}
