{% extends chromeless ? 'base.chromeless.html.twig': 'base.html.twig' %}

{% block title %}Print | Methods | {{ parent() }}{% endblock %}

{% block og_title %}Print | Methods | Blueline{% endblock %}
{% block og_description %}Generate printable method diagrams.{% endblock %}

{% set breadcrumb = { 'title': 'Methods', 'href': path('Blueline_Methods_welcome') } %}

{% set search = false %}

{% block body %}
{% from 'Macros/header.html.twig' import header %}
	<section class="method">
		{{ header('Print Methods') }}
		<div class="wrap">
			<p>Use the below form to build a sheet of method diagrams, then download the result as a PDF.</p>
			<p><strong>Please note that this feature is nowhere near complete. Dev is parked until DPI issues with PhantomJS's PDF rendering are fixed.</strong></p>
			<form id="print_form" method="get" action="{{ path( 'Blueline_Methods_export', { _format: 'pdf' } ) }}">
				<h2>Paper</h2>
				<p>
					<div class="select-wrapper"><select id="paper_size" name="paper_size">
						<option value="A5">A5</option>
						<option value="A4" selected="selected">A4</option>
						<option value="A3">A3</option>
					</select></div>
					<div class="select-wrapper"><select id="paper_orientation" name="paper_orientation">
						<option value="portrait">Portrait</option>
						<option value="landscape" selected="selected">Landscape</option>
					</select></div>
				</p>
				<p>Split into&nbsp;&nbsp;<span class="input-wrapper"><input class="tiny right" type="number" id="paper_columns" name="paper_columns" value="1" min="1" /></span>&nbsp;&nbsp;column<span id="paper_columns_s" style="display:none">s</span> and&nbsp;&nbsp;<span class="input-wrapper"><input class="tiny right" type="number" id="paper_rows" name="paper_rows" value="1" min="1" /></span>&nbsp;&nbsp;row<span id="paper_rows_s" style="display:none">s</span>.</p>
				<h2>Methods</h2>
				<fieldset class="method_form"><legend>Method 1</legend>
					<p><span class="input-wrapper"><input placeholder="Title" class="method_title long" type="text" id="m0_title" name="m0_title" /></span></p>
					<p><label for="m0_stage">Stage&nbsp;&nbsp;&nbsp;</label><span class="input-wrapper"><input class="tiny right" type="number" id="m0_stage" name="m0_stage" min="3" max="33" /></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="input-wrapper"><input placeholder="Notation" class="medium" type="text" id="m0_notation" name="m0_notation" /></span></p>
				</fieldset>
				<h2>Display Options</h2>

				<p>Draw lines through the&nbsp;&nbsp;<span class="select-wrapper"><select id="follow" name="follow">
					<option value="heaviest" selected="selected">heaviest</option>
					<option value="lightest">lightest</option>
				</select></span>&nbsp;&nbsp;bell in each group.</p>

				<p><input type="checkbox" id="show_title" name="show_title" checked="checked" /><label for="show_title">Display method title at the top<!--&nbsp;&nbsp;<span class="select-wrapper"><select id="show_title_position" name="show_title_position"><option value="top" selected="selected">top</option><option value="side">side</option></select></span>--> of the line.</label></p>

				<p><input type="checkbox" id="show_notation" name="show_notation" /><label for="show_notation">Display place notation alongside method</label></p>

				<p><input type="checkbox" id="show_placestarts" name="show_placestarts" checked="checked" /><label for="show_placestarts">Display place starts alongside method</label></p>

				<p>Line Style:<br/>
				<label class="radio_image"><input type="radio" name="style" value="numbers" checked="checked" /><img src="/images/preview_numbers.png" style="width:87px;height:50px;" /></label>
				<label class="radio_image"><input type="radio" name="style" value="lines" /><img src="/images/preview_lines.png" style="width:87px;height:50px;" /></label>
				<label class="radio_image"><input type="radio" name="style" value="grid" /><img src="/images/preview_grid.png" style="width:87px;height:50px;" /></label>
				</p>

				<p class="buttons"><input value="Generate PDF" type="submit" /></p>
			</form>
		</div>
	</section>
{% endblock %}
