.tabBar {
	display: block;
	clear: both;
	margin: 10px 0 -10px 0 !important;
	padding: 0;
	height: 25px;
	font-size: 12px;
	list-style: none;
	user-select: none;
	text-align: left;
	li {
		display: inline-block;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		border: 1px solid @lightGrey;
		background-color: @titleBackground;
		border-bottom: 0;
		cursor: pointer;
		margin-right: 10px;
		line-height: 24px;
		padding: 0 14px;
		transition-property: background-color;
		transition-duration: .4s;
		&:hover { background: @background; }
		&.active {
			background-color: @background;
			border-bottom: 1px solid @background;
			color: #000;
			font-weight: bold;
			cursor: default;
		}
	}
}

@media screen and (max-width: @tinyScreenSize) {
	.tabBar {
		height: 30px;
		li {
			line-height: 29px;
			padding: 0 18px;
		}
	}
}
