@import 'searchResults.css';
@import 'lists.css';
@import 'tabBar.css';

#content {
	padding-top: var(--header-height);
}
#content.searchable {
	padding-top: calc(var(--header-height) + var(--search-box-height));
}

section {
	font-size: 13px;
	h1, h2, h3 {
		font-weight: bold;
	}
	header {
		clear: both;
		border-color: var(--light-grey);
		border-width: 1px 0;
		border-style: solid;
		background-color: var(--title-background);
		padding: 10px;
		h1 {
			font-size: 25px;
			line-height: 25px;
			margin: 0;
		}
		h2 {
			font-size: 18px;
			line-height: 20px;
			margin: 0 0 0 5px;
		}
		h3 {
			margin: 0;
		}
		#settings {
			margin: 0 0 var(--content-y-padding);
			padding: 0 var(--content-x-padding);
			border: 1px solid var(--light-grey);
			background-color: #FFF;
			h3 {
				margin: var(--content-y-padding) 0;
			}
			h4 {
				margin: var(--content-y-padding) 0 calc(var(--content-y-padding) / -2);
			}
		}
	}
	h2 {
		font-size: 16px;
		margin: calc(var(--content-y-padding) * 1.5) 0 0 0;
	}
	h3 {
		font-size: 12px;
		margin: var(--content-y-padding) 0 0 0;
	}
	p {
		margin: var(--content-y-padding) 0;
	}
	h2+p, h3+p {
		margin-top: 4px;
	}
	.wrap {
		margin: var(--content-y-padding) var(--content-x-padding);
		text-align: justify;
		hyphens: auto;
		max-width: 800px;
	}
	&:first-child {
		header {
			border-top: 0;
		}
	}
	table td, table th {
		vertical-align: top;
		padding: 4px;
		border: 1px solid var(--light-grey);
	}
}
