ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding: 0;
		border-bottom: 1px solid var(--light-grey-lightened);
		&.none {
			padding: calc(var(--content-y-padding) - 2px) calc(var(--content-x-padding) * 3 / 2);
		}
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
			border-bottom: 0;
		}
		a {
			display: block;
			padding: calc(var(--content-y-padding) - 2px) calc(var(--content-x-padding) * 3 / 2);
			border: 0 !important;
			background-image: none;
		}
		small.extra:before {
			content: '\a';
			white-space: pre;
		}
	}
	small.extra {
		color: #000 !important;
	}
}

section.text {
	ul {
		list-style: disc outside none;
	}
	ol {
		list-style: decimal outside none;
	}
	ol, ul {
		padding: 0 0 0 calc(var(--content-x-padding) * 2);
		li {
			border: 0;
			padding: 0 0 0 var(--content-x-padding);
		}
	}
}

dl {
	margin: 0;
	padding: 0;
	dt {
		padding: calc(var(--content-y-padding) - 2px) 0 0 var(--content-x-padding);
		margin: 0;
		font-weight: bold;
		border-top: 1px solid var(--light-grey);
		&:first-child {
			border: 0;
			padding-top: var(--content-y-padding);
		}
		&.alone {
			padding-bottom: var(--content-y-padding);
		}
	}
	dd {
		padding: 0 var(--content-x-padding) calc(var(--content-y-padding) - 2px) calc(var(--content-x-padding) * 2);
		margin: 0;
		text-align: left;
		&:last-child {
			padding-bottom: var(--content-y-padding);
		}
	}
}
