.search {
	p.nothing {
		margin: var(--content-y-padding) var(--content-x-padding);
	}
}

div.paging {
	margin: var(--content-y-padding) calc(var(--content-x-padding) * 2);
	.extra {
		color: #666;
	}
}
div.pagingLinks {
	color: #CCC;
	span {
		color: #000;
		margin: 0 6px;
	}
	a {
		margin: 0 6px;
		padding: 2px;
	}
}

@media screen and (max-width: 850px) {
	div.paging {
		text-align: center;
	}
}
