{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}Place Notation Guide | Methods | {{ parent() }}{% endblock %}
{% set search = false %}

{% set breadcrumb = { 'title': 'Methods', 'href': path('Blueline_Methods_welcome') } %}

{% block body %}
	{% from 'BluelineBundle:Macros:header.html.twig' import header %}
	<section class="text">
		{{ header('Place Notation Guide') }}
		<div class="wrap">
			<h2>Basics</h2>
			<p>Place notation is used to define methods in a compact way. The place notation for Single Court Minimus is "34.14x14x14.34.14".</p>
			<p>This consists of 8 changes, each specified by numbers or an 'x'. When two adjacent changes are both defined by numbers they are separated by a dot.</p>
			<p>The numbers show which positions remain static in the change. Any positions which don't remain static swap with the position next to them. An 'x' means there are no static positions, so all pairs swap ('-' is often used instead of 'x').</p>
			<p>So on Minimus: 'x' takes 1234 to 2143; '34' takes 1234 to 2134; '14' takes 1234 to 1324.</p>
			<p>For a more detailed introduction to the basics see <a href="http://www.cccbr.org.uk/education/thelearningcurve/pdfs/200404.pdf" class="external">this guide</a> published by the Central Countril as part of The Learning Curve series.</p>
			<h3>Uniqueness</h3>
			<p>Note that place notation alone is not enough to specify a method, the stage must be stated as well. <a href="{{ path( 'Blueline_Methods_view', { 'url': 'Arist_Little_Bob_Royal' } ) }}">Arist Little Bob Royal</a> is an example of a method demonstrating that.</p>
			<h2>Shortened Forms</h2>
			<p>Writing out the full place notation can be quite lengthy. The below are ways to shorten place notation.</p>
			<h3>Implicit Places</h3>
			<p>External places are those made at the start or end of the change (leading or lying). These can be omitted if they are implied by the other places made in the change (due to the fact that bells can't swap in pairs if there is an odd number of positions left).<br />e.g. on Minor: 'x1x145' => 'x16x1456'; 'x456x6' => 'x1456x16'.</p>
			<p>Internal places can also be implied, e.g. '124' => '1234', but this isn't that commonly used.</p>
			<h3>microSIRIL Format</h3>
			<p>This format is widely used in peal proving programs and other blue line generators. It allows for symmetrical blocks of notation to be shortened. Many methods are symmetric about the half-lead so this is quite effective.</p>
			<p>The place notation is broken up into chunks, with each chunk separated by a comma. Symmetrical chunks are preceded by a '&amp;' (and only the notation up to the symmetry point is written), and asymmetrical chunks are preceded by a '+' and written in full.</p>
			<p>For example Plain Bob Minor is written "&amp;x1x1x1,+2"; Grandsire Doubles, "+3,&amp;1.5.1.5.1"</p>
			<h3>Examples of Other Shortened Forms</h3>
			<p>Various other shortened forms are in use which are similar to the microSIRIL format, which tend to simply be ways of expressing methods consisting of one large symmetric block and a single change over the lead end. All of the following are ways of expressing Plain Bob Minor:</p>
			<ul>
				<li>x16x16x16x16x16x12</li>
				<li>&amp;x16x16x16,+12</li>
				<li>x1x1x1x1x1x2</li>
				<li>x1x1x1-2</li>
				<li>-1-1-1LH2</li>
				<li>-1-1-1 le2</li>
				<li>x1x1x hl 6 le 2</li>
				<li>&amp;-1-1-1 le2</li>
				<li>-1-1-1,2</li>
				<li>&amp;x1x1x1+2</li>
				<li>a &amp;x1x1x1 (where 'a' is the method's lead head code as defined by the CCCBR)</li>
				<li>&amp;x1x1x1 2</li>
			</ul>
			<h2>Testing</h2>
			<p>Use the below box to test how this website parses place notation, and click 'View' to see the resulting method. If the stage is blank it will be guessed.</p>
			<form id="custom_method" action="{{ path( 'Blueline_Methods_custom_view' ) }}">
				<h3>Stage</h3>
				<div class="select-wrapper">
					<select id="custom_method_stage" name="stage">
						<option value="" disabled selected>…</option>
						<option value="4">4 - Minimus</option>
						<option value="5">5 - Doubles</option>
						<option value="6">6 - Minor</option>
						<option value="7">7 - Triples</option>
						<option value="8">8 - Major</option>
						<option value="9">9 - Caters</option>
						<option value="10">10 - Royal</option>
						<option value="11">11 - Cinques</option>
						<option value="12">12 - Maximus</option>
					</select>
				</div>
				<h3>Place Notation</h3>
				<div class="input-wrapper">
					<input id="custom_method_notation" name="notation" type="text" placeholder="…" autocomplete="off" autocapitalize="none" />
				</div>
				<p id="custom_method_notationParsed" class="placeholder">…</p>
				<input type="submit" value="View" />
		</div>
	</section>
{% endblock %}
