{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}Tutorials | Methods | {{ parent() }}{% endblock %}
{% set search = false %}

{% set breadcrumb = { 'title': 'Methods', 'href': path('Blueline_Methods_welcome') } %}

{% block body %}
	{% from 'BluelineBundle:Macros:header.html.twig' import header %}
	<section class="text">
		{{ header('Tutorials') }}
		<div class="wrap">
			<p>This area contains a number of interactive tutorials designed to help people with the process of learning blue lines at home. These are best used on a tablet (e.g. iPad) from the comfort of your sofa, but also work well on desktops and mobiles.</p>
			<h2>Surprise Minor</h2>
			<p><a href="http://bobwallis.github.io/MethodTutorials/Cambridge_Surprise_Minor.html" onclick="window.open('http://bobwallis.github.io/MethodTutorials/Cambridge_Surprise_Minor.html', 'newwindow', 'width='+Math.min(990,screen.width*0.75)+',height='+(Math.min(990,screen.width*0.75)*0.618)+',top=20,left=20');return false;" class="external">Cambridge Surprise Minor</a></p>
			<p><a href="http://bobwallis.github.io/MethodTutorials/London_Surprise_Minor.html" onclick="window.open('http://bobwallis.github.io/MethodTutorials/London_Surprise_Minor.html', 'newwindow', 'width='+Math.min(990,screen.width*0.75)+',height='+(Math.min(990,screen.width*0.75)*0.618)+',top=20,left=20');return false;" class="external">London Surprise Minor</a></p>
			<h2>Other</h2>
			<p><a href="http://bobwallis.github.io/MethodTutorials/Stedman.html" onclick="window.open('http://bobwallis.github.io/MethodTutorials/Stedman.html', 'newwindow', 'width='+Math.min(990,screen.width*0.75)+',height='+(Math.min(990,screen.width*0.75)*0.618)+',top=20,left=20');return false;" class="external">Stedman</a></p>
			<h2>&nbsp;</h2>
			<p>The source code for the turorials is <a href="https://github.com/bobwallis/MethodTutorials" class="external">made available</a> for interested people.</p>
		</div>
	</section>
{% endblock %}
