{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}About | {{ parent() }}{% endblock %}
{% set search = false %}

{% block body %}
	{% from 'BluelineBundle:Macros:header.html.twig' import header %}
	<section class="text">
		{{ header('About') }}
		<div class="wrap">
			<p>This is a project begun over the summer of 2010 by <a href="https://rsw.me.uk" class="external">Robert Wallis</a>, and aims to be a modern, user-friendly interface to the data provided on <a href="http://www.methods.org.uk" class="external">www.methods.org.uk</a>, and <a href="http://dove.cccbr.org.uk" class="external">dove.cccbr.org.uk</a>.</p>
			<p>The source code is <a href="https://github.com/bobwallis/Blueline" class="external">made available</a> for interested people. Feedback, bug reports and advice are encouraged.</p>
			<h2>Apps</h2>
			<p>There is a <a href="https://chrome.google.com/webstore/detail/ohgpoagcfmlbkdniokohgicofokpbpae?hl=en-GB" class="external">Chrome Web App</a><span id="cwai"></span><script>document.getElementById('cwai').innerHTML=(('chrome' in window&&!chrome.app.isInstalled)?' available to <a href="javascript:chrome.webstore.install();">install</a>':' which you have installed.');</script><noscript>install</noscript>.</p>
			<p>iPhone/iPad users can install Blueline as a web app by navigating to the homepage in Mobile Safari, tapping the action button, then tapping 'Add to Home Screen'. There's no native iOS app, and no current plans to make one as I don't have an Apple computer to make it on.</p>
		</div>
	</section>
{% endblock %}
