{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}Copyright | {{ parent() }}{% endblock %}
{% set search = false %}

{% block body %}
	{% from 'BluelineBundle:Macros:header.html.twig' import header %}
	<section class="text">
		{{ header('Copyright') }}
		<div class="wrap">
			<p>Method information is derived from the <a href="http://www.cccbr.org.uk/" class="external">Central Council of Church Bellringers</a> data available on <a href="http://www.methods.org.uk" class="external">methods.org.uk</a>. The copyright statment below applies to its use:</p>
			<blockquote>These method collections are the copyright of the Central Council of Church Bell Ringers. You are welcome to make copies of the material for your own use. You may distribute copies to others <strong>provided that you do not do so for profit and provided that you include this copyright statement</strong>. If you modify the material before distributing it, you must include a <strong>clear</strong> notice that the material has been modified.</blockquote>
			<p>Tower data (including Association affiliations) is derived from the <a href="http://dove.cccbr.org.uk/downloads.php" class="external">Dove data file</a>; also maintained by the Central Council of Church Bellringers.</p>
		</div>
	</section>
{% endblock %}
