{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}Associations | {{ parent() }}{% endblock %}

{% block og_title %}Associations{% endblock %}
{% block og_description %}Association information for bellringers{% endblock %}

{% set breadcrumb = { 'title': 'Associations', 'href': path('Blueline_Associations_welcome') } %}

{% set search = true %}
{% set search_action = path( 'Blueline_Associations_search' ) %}
{% set search_placeholder = 'Search associations' %}

{% block body %}
	<section class="blank"></section>
{% endblock %}
