{% import 'BluelineCCCBRDataBundle:Macros:content.html.twig' as content %}
<section class="content search">
	<ol class="searchResults">
	{% for association in associations %}
		<li><a href="{{ path( 'Blueline_Associations_view', { 'abbreviation': association.abbreviation } ) }}">{{ association.name }}</a></li>
	{% else %}
		<li>No results</li>
	{% endfor %}
	</ol>
	{{ content.paging( searchVariables, pageActive, pageCount ) }}
</section>
