{% extends 'BluelineCCCBRDataBundle::base.html.twig' %}

{% block title %}Search | Associations | {{ parent() }}{% endblock %}
{% set breadcrumb = [ {'title': 'Associations', 'href': path( 'Blueline_Associations_welcome' ) } ] %}
{% set search_opensearch = 'associations' %}
{% set search_big = true %}
{% set search_action = path( 'Blueline_Associations_search' ) %}
{% set search_placeholder = 'Search associations' %}

{% block body %}
	{% from 'BluelineCCCBRDataBundle:Macros:paging.html.twig' import paging %}
	<section class="search">
		{% if associations is not empty %}
		<ol>
		{% for association in associations %}
			<li><a href="{{ path( 'Blueline_Associations_view', { 'abbreviation': association.abbreviation } ) }}">{{ association.name }}</a></li>
		{% endfor %}
		</ol>
		{{ paging( 'Blueline_Associations_search', searchVariables, pageActive, pageCount ) }}
		{% else %}
		<p class="nothing">No results</p>
		{% endif %}
	</section>
{% endblock %}
