{% from 'BluelineCCCBRDataBundle:Macros:header.html.twig' import header %}
<section>
	{{ header( 'Associations' ) }}
	<div class="content">
		<ol id="associationsList">
		{% for association in associations|default([]) %}
			<li><a href="{{ path( 'Blueline_Associations_view', { 'abbreviation': association.abbreviation } ) }}">{{ association.name }}</a></li>
		{% endfor %}
		</ol>
	</div>
</section>
