section form {
	margin: 0 0 15px 15px;
}
table.formTable {

}
	table.formTable th, table.formTable td {
		vertical-align: middle;
		padding: 2px 5px;
	}
	table.formTable th {
		text-align: right;
		font-weight: normal;
	}
input.longText, input.tinyText {
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 2px;
}
input.longText {
	width: 250px;
}
input.tinyText {
	width: 40px;
}
	input.longText:focus, input.tinyText:focus {
		border-color: #F60;
	}
input.submit {
	padding: 1px 3px;
}
