#top {
	display: block;
	width: 100%;
	background: #002147;
	color: #E0DED9;
	height: 35px;
	line-height: 35px;
}
	#top a {
		color: #E0DED9;
		border: 0;
	}
		#top a:hover {
			color: #FFF;
		}
	#top h1, #top h2, #top span.headerSep {
		font-weight: bold;
		text-transform: uppercase;
		font-weight: normal;
		float: left;
		margin-left: 10px;
		font-size: 18px;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
	}
	#top h2, #top span.headerSep {
		font-weight: normal;
		text-transform: none;
		margin-left: 5px;
	}

	/* Small screen overrides */
@media screen and (max-width: 480px) {
	#top {
		height: 25px;
		line-height: 25px;
	}
	#top h1, #top h2, #top span.headerSep {
		margin-left: 4px;
		font-size: 13px;
	}
}

/* Header search */
form#topSearch {
	display: block;
	float: left;
	background-color: #FFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #E0DED9;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
	overflow: hidden;
	margin: 7.5px 0 7.5px 8px;
	height: 19px;
	width: 200px;
}
	form#topSearch input {
		display: block;
		float: left;
		background-color: #FFF;
		border: 0;
		font-size: 11px;
		width: 165px;
		height: 15px;
		padding: 2px;
	}
		form#topSearch input:focus { border: 0; outline-width: 0; }
	form#topSearch button {
		display: block;
		float: right;
		background-color: #FFF;
		background-image: url(../../images/search.png);
		background-image: none,url(../../images/search.svg), url(../../images/search.png);
		border: 0;
		width: 19px;
		height: 19px;
		margin-right: 2px;
	}
		form#topSearch button:hover { cursor: pointer; }

/* Small screen overrides */
@media screen and (max-width: 480px) {
	form#topSearch {
		display: none;
	}
}

/* Big search */
div#bigSearchContainer {
	clear: both;
	border-bottom: 1px solid #E0DED9;
	background-color: #FAFAFA;
	padding: 8px;
}
form#bigSearch {
	display: block;
	overflow: hidden;
	width: 350px;
}
	form#bigSearch div {
		background-color: #FFF;
		border-radius: 3px; -moz-border-radius: 3px;
		border: 2px solid #DDD;
		height: 25px;
	}
	form#bigSearch input {
		display: block;
		float: left;
		background-color: #FFF;
		border: 0;
		font-size: 13px;
		width: 310px;
		height: 21px;
		padding: 2px 5px;
	}
		form#bigSearch input:focus { border: 0; outline-width: 0; }
	form#bigSearch button {
		float: left;
		background: #FFF url(../../images/search.png) no-repeat center center;
		background-image: none,url(../../images/search.svg), url(../../images/search.png);
		border: 0;
		width: 25px;
		height: 25px;
	}
		form#bigSearch button:hover { cursor: pointer; }

/* Small screen overrides */
@media screen and (max-width: 480px) {
	div#bigSearchContainer {
		padding: 5px;
	}
	form#bigSearch {
		width: 304px;
	}
		form#bigSearch div {
			height: 25px;
		}
		form#bigSearch input {
			font-size: 13px;
			width: 264px;
			height: 21px;
			padding: 2px 5px;
		}
		form#bigSearch button {
			width: 25px;
			height: 25px;
		}
}
