.methodDetails, .methodGrid {
	display: none;
}

.methodText, div.methodLine {
	font-family: 'Droid Sans Mono', 'DejaVu Sans Mono', Consolas, monospace;
	font-size: 14px;
	line-height: 15px;
}

section.method {
	padding-bottom: 15px;
}
	section.method:last-child { padding-bottom: 0; }
div.methodLine td {
	vertical-align: top;
	padding: 0 20px;
}

.methodGrid table {
	float: left;
	margin-right: 20px;
}
	td.call p {
		display: block;
		margin: 0 0 3px -2px !important;
		padding: 0;
		text-align: left;
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	}
	td.notationCell {
		line-height: 15px;
		font-size: 10px;
		color: #666;
		text-align: right;
		padding-right: 5px;
	}
