.methodDetails, .methodGrid {
	display: none;
}

section.method {
	padding-bottom: 15px;
}
	section.method:last-child { padding-bottom: 0; }

div.line td {
	vertical-align: top;
}

.grid {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
	.grid td {
		vertical-align: top;
	}
td.gridNotation {
	line-height: 14px;
	font-size: 10px;
	color: #666;
	text-align: right;
	padding: 7px 5px 7px 0;
}
td.gridTitle {
	font-size: 13px;
	padding-bottom: 3px;
}
