ul.tabBar {
	display: block;
	clear: both;
	margin: 10px 0 -10px 0;
	height: 21px;
	font-size: 11px;
}
	ul.tabBar li {
		float: left;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		border: 1px solid #E0DED9;
		background-color: #F3F3F3;
		border-bottom: 0;
		cursor: pointer;
		margin-right: 3px;
		line-height: 20px;
		padding: 0 10px;
		-webkit-transition-property: background-color; -moz-transition-property: background-color;
		-webkit-transition-duration: .4s; -moz-transition-duration: .4s;
	}
		ul.tabBar li:hover { background: #FFF; }
		ul.tabBar li.active {
			background-color: #FFF;
			border-bottom: 1px solid #FFF;
			color: #000;
			font-weight: bold;
			cursor: default;
		}


@media screen and (max-width: 480px) {
	ul.tabBar {
		height: 21px;
		font-size: 11px;
		margin: 5px 0 -5px 0;
	}
		ul.tabBar li {
			margin-right: 3px;
			line-height: 20px;
			padding: 0 10px;
		}
}