{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}Privacy Policy (Android App) | {{ parent() }}{% endblock %}
{% set search = false %}

{% block body %}
	{% from 'BluelineBundle:Macros:header.html.twig' import header %}
	<section class="text">
		{{ header('Privacy Policy for Android Application') }}
		<div class="wrap">
			<p>This privacy policy covers my use of your data when you use the Android app available for download <a href="https://play.google.com/store/apps/details?id=uk.me.rsw.bl" class="external">on the Google Play Store</a>.</p>
			<h2>Policy</h2>
			<p>If you allow permission, then this app requests access to a limited amount of data to:<ul><li>Investigate the causes of crashes</li><li>Monitor how users engage with the app in order to better understand how they use it</li></ul></p>
			<p>For these purposes the app includes the <a href="https://firebase.google.com/" class="external">Google Firebase</a> service. No personal data is collected or stored by this app other than the data transmitted to the Firebase service.</p>
			<p>Firebase uses a pseudonymous "app-instance identifier" to identify a unique installation of the app with which to associate other data. By default the service collects the Advertising ID. If this is not available, the device's hardware identifier is collected instead.</p>
			<p>When using the app, information relating to your device and activity within the app is sent to Firebase for analysis alongisde this identifier. The type of information collected includes:
				<ul>
					<li>General device information, such as model, OS, orientation, RAM and disk size</li>
					<li>App version and package name</li>
					<li>Locale/language</li>
					<li>Session duration</li>
					<li>Radio/Network information (for example, WiFi, LTE, 3G)</li>
					<li>Jailbroken or rooted status of device</li>
					<li>Battery level and battery-charging state</li>
					<li>App foreground or background state</li>
					<li>Network URLs (not including URL parameters or payload content), response codes, payload size, response times</li>
				</ul>
			</p>
			<p>If you don't wish to allow data collection you can do so without affecting any of the app's other functionality by:
				<ul>
					<li>Selecting the "Reject" button displayed on the prompt displayed when first opening the app.</li>
					<li>Re-launching the prompt at any time later on from the main navigation drawer of the app and changing your mind.</li>
					<li>Changing the setting on the Settings page of the app.</li>
				</ul>
			</p>
			<h2>Source code</h2>
			<p>The source code for the app is <a href="https://github.com/bobwallis/BluelineAndroid" class="external">made available</a> for interested people.</p>
		</div>
	</section>
{% endblock %}
