{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}Privacy Policy (Android App) | {{ parent() }}{% endblock %}
{% set search = false %}

{% block body %}
	{% from 'BluelineBundle:Macros:header.html.twig' import header %}
	<section class="text">
		{{ header('Privacy Policy for Android Application') }}
		<div class="wrap">
			<p>This privacy policy covers my use of your data when you use the Android app available for download <a href="https://play.google.com/store/apps/details?id=uk.me.rsw.bl" class="external">on the Google Play Store</a>.</p>
			<h2>Policy</h2>
			<p>This app includes the <a href="https://firebase.google.com/" class="external">Google Firebase</a> service, and previously requested access to a limited amount of personal data to investigate the causes of crashes.</p>
			<p>The personal data collected was a pseudonymous "app-instance identifier" used to identify a unique installation of the app with which to associate other data such as your operating system version, screen size, and device specifications.</p>
			<p>The current version of the app no longer includes this part of the Firebase service, and no longer requests internet access from your device.</p>
			<p>All data used by the app is stored only on your device and isn't transmitted anywhere, to anyone, at any point.</p>
			<h2>Source code</h2>
			<p>The source code for the app is <a href="https://github.com/bobwallis/BluelineAndroid" class="external">made available</a> for interested people.</p>
		</div>
	</section>
{% endblock %}
