{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% set search = false %}

{% block body %}
	<section class="welcome">
		<div class="wrap">
			<p>This site contains various tools and bits of information of interest to <a href="https://en.wikipedia.org/wiki/Change_ringing" class="external">bellringers</a>.</p>
			<p><a href="{{ path( 'Blueline_Pages_view', { 'page': 'about' } ) }}">See here</a> for background information about the site, and use the links below to access the various areas of the site.</p>
			<ul>
				<li id="welcome_methods"><a href="{{ path( 'Blueline_Methods_welcome' ) }}">Methods</a></li>
				<li id="welcome_prover"><a href="{{ path( 'Blueline_Services_siril' ) }}">Composition Prover</a></li>
			</ul>
			<p>Much of the site's functionality is also available as an <a href="https://play.google.com/store/apps/details?id=uk.me.rsw.bl" class="external">Android app</a>.</p>
			<p>For a pretty comprehensive list of other useful resources for bellringers, check out <a href="http://www.ringing.info" class="external">ringing.info</a>.</p>
		</div>
	</section>
{% endblock %}
