@font-face {
	font-family: 'BluelineMono';
	src: url('../fonts/Blueline.woff') format('woff'), url('../fonts/Blueline.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.fontPreload {
	position: absolute;
	display: block;
	top: -999px;
	left: 0;
	font-size: 500px;
	line-height: normal;
	margin: 0;
	padding: 0;
	font-variant: normal;
}
