section.tower {
	h3 {
		margin: 0;
		padding: (@contentYPadding - 2) @contentXPadding 2px @contentXPadding;
		border-top: 1px solid @lightGrey;
		&+ol {
			margin-top: 0;
			margin-left: 0;
			li {
				padding: 2px 0;
				border-color: lighten(@lightGrey, 5%) !important;
				&.none {
					padding: 4px @contentXPadding 4px (@contentXPadding*2);
				}
				a {
					padding: 4px @contentXPadding 4px (@contentXPadding*2);
				}
				&:first-child {
					padding-top: 0;
				}
				&:last-child {
					padding-bottom: (@contentYPadding - 4);
				}
			}
		}
	}

	// Default tab shows/hides, and static map setup
	.details {
		display: block;
	}
	.firstPeals {
		display: none;
	}
	.staticMap {
		display: none;
		width: 100%;
		padding: 5px 0;
		text-align: center;
		a {
			border: 0;
		}
	}
}
